
.flipcart{
    border: 2px solid #f9f6f6;
       background-color: hsl(0, 0%, 100%);
    margin-right: 300px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.para{
    font-size: 1rem;
}
.box{
   
   border: 2px solid #f9f6f6;
   background-color: hsl(0, 0%, 100%);
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
 justify-content: center;
 margin-right: 300px;
 padding: 20px;
}
.size{
    padding: 2px;
    width: 200px;
    height: 200px;
   
}
.btn{
    padding: 0.5rem;
    width: 9rem;
    background-color: rgba(218, 52, 52, 0.963);
    border: none;
    color: #fff;
    margin-left: 50px;
}
.term{
    display: flex;
    justify-content: space-around;
}
.heading{
    margin-left: 50px;
}
nav{
    background-color: rgb(107, 107, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1px 1px;
   
    width: 1500px;
    }
    .logo{
    color: #fff;
    text-decoration: none;
    }
    .pluse-color{
      color: yellow;
    }
    .search{
      background-color: #fff;
      padding: 8px;
      width: 460px;
      height: 20px;
      margin: 0px 15px;
      display: flex;
      justify-content: space-evenly;
      box-shadow: -7px -7px 10px black;
    
    }
    .search input{
      width: 380px;
      border: none;
      outline: none;
    }
    .login-btn{
      padding: 7px  40px;
      color: #5854e4;
      border: none;
    }